name: CI/CD 

on:
  push:
    branches: [ develop ]
    
env:
  NUGET_NAME: ProjectNuget
  BUILD_VERSION: ''
    
jobs:
  
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ 6, 7 ]    
    steps:
      - uses: actions/checkout@v3
      - name: Build Version
        run: echo "BUILD_VERSION=${{matrix.dotnet-version}}.0.${{github.run_number}}" >> $GITHUB_ENV
        
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with: 
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Publish
        run: dotnet publish -f net${{matrix.dotnet-version}}.0 -c Release -o ./publish/net${{ matrix.dotnet-version }}.0 
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{env.NUGET_NAME}}-net${{matrix.dotnet-version}}.0
          path: ./publish/net${{matrix.dotnet-version}}.0
          retention-days: 1
