name: CI/CD 

on:
  push:
    branches: [ develop ]
    
jobs:
  
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ 6, 7 ]    
    steps:
      - uses: actions/checkout@v3
        
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with: 
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Publish
        run: dotnet publish -f net${{matrix.dotnet-version}}.0 -c Release -o ./publish/${{ matrix.dotnet-version }} 
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.dotnet-version }}
          path: ./publish/${{ matrix.dotnet-version }}
          retention-days: 1